name: QA Github CI
on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: Install packages
        run: npm ci

      - name: Install browsers
        run: npm exec playwright install --with-deps

      - name: Run tests
        run: npx playwright test

      - name: Add allure report
        run: npx allure-commandline generate ./allure-results -o ./allure-report --clean
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: allure-report
          path: allure-report/
          retention-days: 30

      - name: Send notification in telegram
        run: java "-DconfigFile=notifications/telegram.json" -jar notifications/allure-notifications-4.11.0.jar
